<div id="divLogin">
  <mat-card id="cardLogin" style="text-align: center">
    <mat-card-header style="justify-content: center">
      <mat-card-title>
        <div id="titleLogin">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >verified_user</mat-icon
          >
        </div>
      </mat-card-title>
      <mat-card-subtitle> Faça login para continuar </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <mat-form-field appearance="fill" id="inputLogin">
          <mat-label>Digite seu email</mat-label>
          <input
            matInput
            placeholder="user@example.com"
            [formControl]="email"
            required
          />
          <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" id="inputLogin">
          <mat-label>Digite sua senha</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [formControl]="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <p>
        <button
          id="btnLogar"
          (click)="login()"
          mat-raised-button
          color="primary"
        >
          Entrar
        </button>
      </p>
    </mat-card-actions>
  </mat-card>
</div>
