#btnLogar {
    width: 100%;
}

#inputLogin {
    width: 100%;
}

#cardLogin {
    max-width: 400px;
}

#divLogin {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}